.about {
	padding: 5px 120px;
	line-height: 50px;
    background: lightblue;
	color: white;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-weight: bold;
}
.about span:hover {
	color: skyblue;
}
.xtx-cart-page{
    background-color: #f5f5f5;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.cart{
    background: #fff;
    color: #666;
}
/* .cart table{
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 24px;
} */
.cart table th{
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    font-weight: normal;
    line-height: 50px;
    padding: 10px;
    font-size: 16px;
}
.cart table th:first-child{
  color: #999;
}
.action{
    display: flex;
    background: #fff;
    margin-top: 20px;
    height: 80px;
    align-items: center; /*让子元素在垂直方向上居中对齐，保证文字和按钮垂直居中 */
   justify-content: flex-end;  /* 让子元素在水平方向上靠右端对齐，结算功能区通常靠右展示 */
   padding-right: 30px;
}
.action .red{
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.action .settlement{
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    background-color: skyblue;
    text-align: center;
    border-radius: 11px;
    margin-left: 20px;
}

/* 通过 cart.js 中的 renderCart() 函数动态生成的 —— 只有当购物车有商品数据时，JS 才会把包含 .wrap-input 的 HTML 插入到页面中 */
.tc{
    text-align: center;
}
/* 数量增减控件的容器 */
.wrap-input{
    display: flex; /* 弹性布局，让子元素横向排列*/
    align-items: center;/* 子元素垂直居中，保证按钮和输入框对齐 */
    justify-content: center;/* 子元素水平居中，整体在单元格中居中显示 */
     gap: 5px;/* 子元素之间的间距（按钮和输入框之间留5px空隙） */
}
/* 数量增减按钮 */
.btn-reduce, .btn-add{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 4px;
}
/* 数量输入框 */
.buy-num{
    width: 40px;
    height: 24px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
}
/* 删除商品的文字链接 */
.del-goods{
    color: red;
    cursor: pointer;
}

